{% extends 'base.html.twig' %}

{% block title %}
	{{ artist.nameVariations[0] ?? artist.name ?? 'Unknown Artist' }}
{% endblock %}

{% block main %}
	<div class="artist-container mx-auto p-8 max-w-2xl text-white">
		<h2 class="text-3xl font-bold mb-4">{{ artist.nameVariations[0] ?? artist.name ?? 'Unknown Artist' }}</h2>

		{% if artist.profile %}
			<p class="text-white mb-4">{{ artist.profile }}</p>
		{% endif %}

		{% if artist.images %}
			<div class="image-container">
				<img src="{{ artist.images }}" alt="{{ artist.nameVariations[0] ?? artist.name ?? 'Unknown Artist' }}" class="w-full h-auto rounded-lg">
			</div>
		{% endif %}
	</div>
{% endblock main %}
